section.section-hero-home 
	.container
		.inner
			.img
				img(src="./images/hero-img-01.jpg", sizes="100vw" ,  srcset="./images/hero-mobile.jpg  768w, ./images/hero-img-01.jpg 1500w" , alt="image decription")
			.hero-heading
				h1.hero-title Oktoberfest Booking
				time 16 . 0 9 . – 0 3. 10 . 2 0 2 3
			.timer-block
				strong Das einzige offizielle Reservierungsportal für Oktoberfest Tische.
				ul.time-list.d-flex
					li.day
						span.number 365
						span.text Tage
					li.hours
						span.number 10
						span.text stunden
					li.min
						span.number 20
						span.text minuten
					li.sec
						span.number 30
						span.text sekunden
