nav.main-navigation.offcanvas.offcanvas-end(tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel")
	.close-btn-holder
		a(href="#").sub-cards-close: <svg width="15" height="22" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.875 15.25L1.125 8.5L7.875 1.75" stroke="#4090E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
		button(data-bs-dismiss="offcanvas" aria-label="Close").btn-close
	.offcanvas-body
		.inner
			.user-infor
				.row
					.col-info
						.avatar: img(src="./images/user-img-04.png", width="48", height="48" , alt="image decription")
						.user-infor-text
							strong Dominik Pfeiffer
							span Servus Dominik!
					.col-btn
						a(href="#").btn.btn-outline-primary Logout
			.card-holder
				.card-nav.dropdown-toggle(data-bs-toggle="dropdown" aria-expanded="false")
					.text
						h6 Festzelte
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					.img: img(src="./images/icon/nav-img.svg", width="102" , height="99" , alt="image decription")
				.sub-cards.dropdown-menu
					.custom-scroll
						.sub-card
							.text
								h6 Augustiner Festzelt
							.img: img(src="./images/img-01.png", width="69" , height="69" , alt="image decription")
						.sub-card
							.text
								h6 Schottenhamel Festzelt
							.img: img(src="./images/img-02.png", width="49" , height="73" , alt="image decription")
						.sub-card
							.text
								h6 Paulaner Festzelt
							.img: img(src="./images/img-03.png", width="49" , height="73" , alt="image decription")
						.sub-card
							.text
								h6 Paulaner Festzelt
							.img: img(src="./images/img-03.png", width="49" , height="73" , alt="image decription")
						.sub-card
							.text
								h6 Paulaner Festzelt
							.img: img(src="./images/img-02.png", width="49" , height="73" , alt="image decription")
				ul.link-list
					li: a(href="#").link-button
						span After Wiesn Locations
					li: a(href="#").link-button
						span Meine Reservierungen
					li: a(href="#").link-button
						span Über Uns
					li: a(href="#").link-button
						span Kontakt
			.card-nav.warning
				a(href="#")
					.text
						h6 Werden Sie zum Wiesn-<mark>VIP</mark>
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					.img: img(src="./images/img-icon-02.svg", width="70" , height="90" , alt="image decription")
			.btn-holder
				.row
					.col-6
						a(href="#").btn.btn-outline-primary Registrieren
					.col-6
						a(href="#").btn.btn-primary Jetzt Reservieren 
			.row
					.dropdown.dropdown-lang
						button#dropdownMenuButton2.d-flex.d-md-none.align-items-center.justify-content-center.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
							i.icon-lang
							| Deutsch
						ul.dropdown-menu(aria-labelledby='dropdownMenuButton2')
							li
								.fake-radio
									input#en(type="radio" , name="lang")
									label(for="en").dropdown-item 
										span
										| Englisch
							li
								.fake-radio
									input#de(type="radio" , name="lang")
									label(for="de").dropdown-item 
										span
										| Deutsch
