article.card-order.d-lg-flex.lg
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-04.jpg');")
	.col-text
		h2 Mit der Firma auf die Wiesn?
		p Sie möchten mit Ihrem Unternehmen auf das Oktoberfest besuchen? 
		p Hier finden Sie aktuelle Angebote und Service für unsere Firmen- und Geschäftskunden: 
		a(href="#").btn.btn-light Mehr erfahren
article.card-order.d-lg-flex
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="./images/weiss-paulaner-festzelt-logo-p-500.svg", srcset="./images/weiss-paulaner-festzelt-logo-p-500.svg 137w,./images/weiss-paulaner-festzelt-logo-p-500.svg 205w" ,  sizes="(min-width: 768px) 205px, 137px" alt="weiss paulaner festzel")
			span.castom-link 
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-01" aria-expanded="false" aria-controls="collapsecard-01">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-01")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-01")
						input#time-01(type="checkbox", name="time")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-02")
						input#time-02(type="checkbox", name="time")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-03")
						input#time-03(type="checkbox", name="time")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable.disable: label(for="day-01")
							input#day-01(type="radio", name="day" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-02")
							input#day-02(type="radio", name="day" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-03")
							input#day-03(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-04")
							input#day-04(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-05")
							input#day-05(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-06")
							input#day-06(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-07")
							input#day-07(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-08")
							input#day-08(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-09")
							input#day-09(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-10")
							input#day-10(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-11")
							input#day-11(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-12")
							input#day-12(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-13")
							input#day-13(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-14")
							input#day-14(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-15")
							input#day-15(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-16")
							input#day-16(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-17")
						input#day-17(type="radio", name="day")
						span.fake-radio
							span.mob-day.d-md-none SO -
							| 01.10.
					li: label(for="day-18")
							input#day-18(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-19")
							input#day-19(type="radio", name="day")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren 
article.card-order.d-lg-flex
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="./images/schottenhamel-logo-01.svg", srcset="./images/schottenhamel-logo-01.svg 81w,./images/schottenhamel-logo-01.svg 110w" ,  sizes="(min-width: 768px) 110px, 81px" alt="schottenhamel")
			span.castom-link 
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-02" aria-expanded="false" aria-controls="collapsecard-02">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-02")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-021")
						input#time-021(type="checkbox", name="time2")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-022")
						input#time-022(type="checkbox", name="time2")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-023")
						input#time-023(type="checkbox", name="time2")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable: label(for="day-021")
							input#day-021(type="radio", name="day2" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-022")
							input#day-022(type="radio", name="day2" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-023")
							input#day-023(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-024")
							input#day-024(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-025")
							input#day-025(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-026")
							input#day-026(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-027")
							input#day-027(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-028")
							input#day-028(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-029")
							input#day-029(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-120")
							input#day-120(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-121")
							input#day-121(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-122")
							input#day-122(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-123")
							input#day-123(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-124")
							input#day-124(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-125")
							input#day-125(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-126")
							input#day-126(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-127")
						input#day-127(type="radio", name="day2")
						span.fake-radio
							span.mob-day.d-md-none SO -
							| 01.10.
					li: label(for="day-128")
							input#day-128(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-129")
							input#day-129(type="radio", name="day2")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren
article.card-order.d-lg-flex
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="./images/srischart-Logo1.svg", srcset="./images/srischart-Logo1.svg 176w,./images/srischart-Logo1.svg 216w" ,  sizes="(min-width: 768px) 216px, 176px" alt="srischart")
			span.castom-link 
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-03" aria-expanded="false" aria-controls="collapsecard-03">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-03")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-031")
						input#time-031(type="checkbox", name="time3")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-032")
						input#time-032(type="checkbox", name="time3")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-033")
						input#time-033(type="checkbox", name="time3")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable: label(for="day-031")
							input#day-031(type="radio", name="day3" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-032")
							input#day-032(type="radio", name="day3" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-033")
							input#day-033(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-034")
							input#day-034(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-035")
							input#day-035(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-036")
							input#day-036(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-037")
							input#day-037(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-038")
							input#day-038(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-039")
							input#day-039(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-130")
							input#day-130(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-131")
							input#day-131(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-132")
							input#day-132(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-133")
							input#day-133(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-134")
							input#day-134(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-135")
							input#day-135(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-136")
							input#day-136(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-137")
						input#day-137(type="radio", name="day3")
						span.fake-radio
							span.mob-day.d-md-none SO -
							| 01.10.
					li: label(for="day-138")
							input#day-138(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-139")
							input#day-139(type="radio", name="day3")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren
article.card-order.d-lg-flex
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="./images/marstall-logo3.svg", srcset="./images/marstall-logo3.svg 160w,./images/marstall-logo3.svg 218w" ,  sizes="(min-width: 768px) 218px, 160px" alt="marstall")
			span.castom-link 
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-04" aria-expanded="false" aria-controls="collapsecard-04">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-04")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-041")
						input#time-041(type="checkbox", name="time4")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-042")
						input#time-042(type="checkbox", name="time4")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-043")
						input#time-043(type="checkbox", name="time4")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable: label(for="day-041")
							input#day-041(type="radio", name="day4" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-042")
							input#day-042(type="radio", name="day4" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-043")
							input#day-043(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-044")
							input#day-044(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-045")
							input#day-045(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-046")
							input#day-046(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-047")
							input#day-047(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-048")
							input#day-048(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-049")
							input#day-049(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-140")
							input#day-140(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-141")
							input#day-141(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-142")
							input#day-142(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-143")
							input#day-143(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-144")
							input#day-144(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-145")
							input#day-145(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-146")
							input#day-146(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-147")
						input#day-147(type="radio", name="day4")
						span.fake-radio
							span.mob-day.d-md-none SO -
							| 01.10.
					li: label(for="day-148")
							input#day-148(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-149")
							input#day-149(type="radio", name="day4")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren
article.card-order.d-lg-flex
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="./images/marstall-logo3.svg", srcset="./images/marstall-logo3.svg 81w,./images/marstall-logo3.svg 113w" ,  sizes="(min-width: 768px) 113px, 81px" alt="augustiner")
			span.castom-link 
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-05" aria-expanded="false" aria-controls="collapsecard-05">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-05")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-051")
						input#time-051(type="checkbox", name="time5")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-052")
						input#time-052(type="checkbox", name="time5")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-053")
						input#time-053(type="checkbox", name="time5")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable: label(for="day-051")
							input#day-051(type="radio", name="day5" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-052")
							input#day-052(type="radio", name="day5" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-053")
							input#day-053(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-054")
							input#day-054(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-055")
							input#day-055(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-056")
							input#day-056(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-057")
							input#day-057(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-058")
							input#day-058(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-059")
							input#day-059(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-150")
							input#day-150(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-151")
							input#day-151(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-152")
							input#day-152(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-153")
							input#day-153(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-154")
							input#day-154(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-155")
							input#day-155(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-156")
							input#day-156(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-157")
							input#day-157(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 01.10.
					li: label(for="day-158")
							input#day-158(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-159")
							input#day-159(type="radio", name="day5")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren
article.card-order.d-lg-flex
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="./images/schuetzen-festzelt-logo1.svg", srcset="../images/schuetzen-festzelt-logo1.svg 300w,./images/schuetzen-festzelt-logo1.svg 378w" ,  sizes="(min-width: 768px) 378px, 300px" alt="schuetzen festzelt")
			span.castom-link
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-05" aria-expanded="false" aria-controls="collapsecard-05">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-05")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-061")
						input#time-061(type="checkbox", name="time6")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-062")
						input#time-062(type="checkbox", name="time6")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-063")
						input#time-063(type="checkbox", name="time6")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable: label(for="day-061")
							input#day-061(type="radio", name="day6" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-062")
							input#day-062(type="radio", name="day6" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-063")
							input#day-063(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-064")
							input#day-064(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-065")
							input#day-065(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-066")
							input#day-066(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-067")
							input#day-067(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-068")
							input#day-068(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-069")
							input#day-069(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-160")
							input#day-160(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-161")
							input#day-161(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-162")
							input#day-162(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-163")
							input#day-163(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-164")
							input#day-164(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-165")
							input#day-165(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-166")
							input#day-166(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-167")
						input#day-167(type="radio", name="day6")
						span.fake-radio
							span.mob-day.d-md-none SO -
							| 01.10.
					li: label(for="day-168")
							input#day-168(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-169")
							input#day-169(type="radio", name="day6")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren
article.card-order.d-lg-flex.is-booked.selected-event
	.col-img
		a(href="#")
			.img(style="background-image: url('./images/card-img-03.jpg');")
			.card-logo: img(src="../images/fischer-vroni-logo1.svg", srcset="./images/fischer-vroni-logo1.svg 200w,./images/fischer-vroni-logo1.svg 300w" ,  sizes="(min-width: 768px) 300px, 200px" alt="fischer vroni")
			span.castom-link 
				| Infos zum Zelt 
				i.icon-chevron-down-radius
	.drop-holder
		.overlay-block
			.inner
				h2 Das Festzelt öffnet den Reservierunsgbereich ab April 2023
				a(href="#").btn.btn-primary
					i.icon-alarm
					| Kostenlose Erinnerungsfunktion
		<button class="btn btn-primary d-md-none btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecard-06" aria-expanded="false" aria-controls="collapsecard-04">
			span An diesen Tagen sind freie Tische verfügbar
			i.icon-chevron-down-radius
		</button>
		.collapse(id="collapsecard-06")
			.col-calendar
				.calendar-header.d-md-flex
					label(for="time-071")
						input#time-071(type="checkbox", name="time7", checked)
						div.fake-radio
							span.icon
							.checkbox-text
								strong Mittag
								span 12 - 15 Uhr
					label(for="time-072")
						input#time-072(type="checkbox", name="time7")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Nachmittag
								span 15 - 18 Uhr
					label(for="time-073")
						input#time-073(type="checkbox", name="time7")
						div.fake-radio
							span.icon
							.checkbox-text
								strong Abend
								span 18 - 23 Uhr
				ul.d-none.d-md-flex.days-list
					li: span MO 
					li: span DI 
					li: span MI 
					li: span DO 
					li: span FR 
					li: span SA 
					li: span SO
				ul.d-flex.date-list
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.d-none.d-md-block
					li.disable: label(for="day-071")
							input#day-071(type="radio", name="day7" )
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 16.09
					li: label(for="day-072")
							input#day-072(type="radio", name="day7" )
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 17.09.
					li: label(for="day-073")
							input#day-073(type="radio", name="day7", checked)
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 18.09
					li: label(for="day-074")
							input#day-074(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 19.09.
					li: label(for="day-075")
							input#day-075(type="radio", name="day7" )
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 20.09.
					li: label(for="day-076")
							input#day-076(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 21.09.
					li: label(for="day-077")
							input#day-077(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 22.09.
					li: label(for="day-078")
							input#day-078(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 23.09.
					li: label(for="day-079")
							input#day-079(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 24.09.
					li: label(for="day-170")
							input#day-170(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-171")
							input#day-171(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 25.09
					li: label(for="day-172")
							input#day-172(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 26.09.
					li: label(for="day-173")
							input#day-173(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none MI -
								| 27.09.
					li: label(for="day-174")
							input#day-174(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none DO -
								| 28.09.
					li: label(for="day-175")
							input#day-175(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none FR -
								| 29.09.
					li: label(for="day-176")
							input#day-176(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none SA -
								| 30.09.
					li: label(for="day-17")
							input#day-17(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none SO -
								| 01.10.
					li: label(for="day-178")
							input#day-178(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none MO -
								| 02.10.
					li: label(for="day-179")
							input#day-179(type="radio", name="day7")
							span.fake-radio
								span.mob-day.d-md-none DI -
								| 03.10.
			.col-btn
				button.btn.btn-primary 
					span Tisch reservieren  
