section.section-banner
	.container
		.inner(style="background-image: url('./images/img-banner-01.png');")
			.banner-logo: img(src="./images/festwiese-os_logo.svg", alt="fest zelt")
			.text-holder
				.heading
					h2.h1 Festzelt OS
					p Das führende vollumfassende Reservierungssystem für Festzelte am Oktoberfest
				a(href="#").btn.btn-warning Zur Festzelt OS Webseite 
			.swiper.js-brands-slider
				// Additional required wrapper
				.swiper-wrapper
					// Slides
					.swiper-slide.item: a(href="#"):  img(src="./images/schuetzen-festzelt-logo.svg", alt="schuetzen festzelt")
					.swiper-slide.item: a(href="#"):  img(src="./images/fischer-vroni-logo.svg", alt="fischer vroni")
					.swiper-slide.item: a(href="#"):  img(src="./images/rischart-Logo.svg", alt="rischart")
					.swiper-slide.item: a(href="#"):  img(src="./images/weiss-paulaner-festzelt-logo.svg", alt="weiss-paulaner festzelt")
					.swiper-slide.item: a(href="#"):  img(src="./images/marstall-logo.svg", alt="marstall logo")
					.swiper-slide.item: a(href="#"):  img(src="./images/augustiner-logo.svg", alt="augustiner logo")
					.swiper-slide.item: a(href="#"):  img(src="./images/schottenhamel-logo.svg", alt="schottenhamel logo")

