section.section-acc
	.container
		.heading
			h2 Häufig gestellte Fragen
			p Alles was Sie rund um das Thema Tischreservierungen am Oktoberfest wissen müssen
		.collpase-holder.accordion#accordion
			.row
				.col-md-6
					.collapse-block
						button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-01' aria-expanded='false' aria-controls='collapse-01')
							span Muss man einen Tisch am Oktoberfest reservieren?
							span.cross
						#collapse-01.collapse.accordion-collapse(data-bs-parent="#accordion")
							p Nein, eine Tischreservierung in einem der Zelte ist natürlich nicht zwingend notwendig. Allerdings sind die Zelt aufgrund von hoher Auslastung oft geschlossen. In diesem Fall garantiert nur eine Tischreservierung den Einlass ins Zelt.
					.collapse-block
						button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-02' aria-expanded='false' aria-controls='ollapse-02')
							span Sind Reservierungen von Dritten nicht ungültig?
							span.cross
						#collapse-02.collapse.accordion-collapse(data-bs-parent="#accordion")
							p Reservierungen sind personalisiert und daher in der Regel nicht übertragbar. Bei Buchungen über Oktoberfest Bookings erwerben Sie jedoch keine Reservierung von dritten, sondern vom Festzelt selbst.
					.collapse-block
						button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-03' aria-expanded='false' aria-controls='ollapse-03')
							span Was kostet ein Tisch auf dem Oktoberfest?
							span.cross
						#collapse-03.collapse.accordion-collapse(data-bs-parent="#accordion")
							p Das ist von Zelt zu Zelt verschieden. In den meisten Fällen handelt es sich allerdings um 8er bzw. 10er Tische mit einem Mindestverzehr von einem Hendl und zwei Maß Bier je Person.
				.col-md-6
					.collapse-block
						button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-04' aria-expanded='false' aria-controls='ollapse-04')
							span Woher kennt Oktoberfest Bookings die Tischkontigente?
							span.cross
						#collapse-04.collapse.accordion-collapse(data-bs-parent="#accordion")
							p Die Festzelt OS GmbH ist Anbieter eines Reservierungssystems, welches von vielen Festzelten verwendet wird und gleichzeitig Anbieter von Oktoberfest Bookings.
					.collapse-block
						button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-05' aria-expanded='false' aria-controls='ollapse-05')
							span Kann man Tische nicht nur beim Festzelt direkt reservieren?
							span.cross
						#collapse-05.collapse.accordion-collapse(data-bs-parent="#accordion")
							p Nein, dies geht auch über unsere Webseite hier. Die Reservierungen werden direkt an das Reservierungssystem des Festzeltes weitergeleitet.
					.collapse-block
						button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-06' aria-expanded='false' aria-controls='ollapse-06')
							span Wie funktioniert Oktoberfest Bookings?
							span.cross
						#collapse-06.collapse.accordion-collapse(data-bs-parent="#accordion")
							p Reservierungen von dieser Webseite werden direkt an das Reserervierungssystem des jeweiligen Festzeltes übertragen.

