section.section-cards
	.container
		.row
			.col-md-6
				.card(style="background-image: linear-gradient(0deg, rgba(36, 76, 111, 0.68), rgba(36, 76, 111, 0)),url('./images/card-img-01.png');")
					.inner
						h2 Premium Reservierungsservice
						p Wir kümmern uns um Ihre Reservierungen -  <br/> Sie müssen nichts tun.
						a(href="#").btn.btn-primary Mehr erfahren
			.col-md-6
				.card(style="background-image: linear-gradient(0deg, rgba(36, 76, 111, 0.68), rgba(36, 76, 111, 0)), url('./images/card-img-02.jpeg');")
					.inner
						h2 Wiesn After Party
						p Nach der Wiesn ist vor der Party - Entdecke die besten After-Wiesn-Parties und buche gleich Deine Eintrittskarten
						a(href="#").btn.btn-primary Mehr erfahren