.main-navigation {
	border-left: 10px solid #5ba5f5 !important;
	border-radius: 8px 0px 0px 8px;
	padding: 19px 26px 15px 26px;
	width: 390px !important;
	background-color: #fbfcfd;
    transition: transform .5s ease-in;

	@include media-breakpoint-up(md) {
		width: 436px !important;
	}

	.offcanvas-body {
		padding: 0;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;

		> * {
			width: 100%;
		}
	}

	.btn-close {
		display: block;
		position: relative;
		width: 36px;
		height: 36px;
		margin-left: auto;
		background: transparent;
		opacity: 11;
		padding: 0;
		margin: 0;

		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 80%;
			height: 2px;
			margin: auto;
			background: $primary;
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}

	.card-nav {
		display: flex;
		background: $white;
		border: 1px solid #ececee;
		border-radius: 8px;
		padding: 20px 16px 14px;
		white-space: normal;
		cursor: pointer;

		&::after {
			display: none;
		}

		&.warning {
			mark {
				background-color: transparent;
				color: #fdc525;
			}

			a {
				color: #fdc525;

				.icon-chevrone-right {
					border: 1px solid #fdc525;
					color: #fdc525;

					&::before {
						color: inherit;
					}
				}
			}
		}

		.text {
			padding-right: 10px;
		}

		h6 {
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 20px;
			line-height: calc(22 / 14);
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;

			span {
				font-weight: 700;
				margin-right: 8px;
			}

			.icon-chevrone-right {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 21px;
				height: 21px;
				background: $white;
				border-radius: 50%;
				font-size: 10px;
				border: 1px solid #4090e7;
				color: #4090e7;
				transition: 0.4s all;
			}
		}
	}

	.link-list {
		list-style: none;
		padding: 10px 0 0 0;
		margin: 0;

		li {
			+ li {
				margin-top: 8px;
			}
		}
	}

	.row {
		margin: 0 -8px;

		[class*='col-'] {
			padding: 27px 8px;
		}
	}

	.btn {
		width: 100%;
		font-size: 16px;
		border-radius: 4px;
		padding: 6px 15px;
		line-height: calc(30 / 18);

		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
	}

	.soc-netw {
		margin-top: auto;

		strong {
			display: block;
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 18px;
			line-height: calc(28 / 18);
		}

		ul {
			display: flex;
			align-items: center;
			list-style: none;
			padding: 0;
			margin: 0;
			color: $black;

			li {
				+ li {
					margin-left: 45px;
				}
			}

			a {
				display: flex;
				align-items: center;
				color: inherit;
				text-decoration: none;
				font-size: 22px;
				color: $black;

				&:hover {
					color: $primary;
				}

				i {
					color: inherit;

					&::before {
						color: inherit;
					}
				}
			}
		}
	}

	.card-holder {
		position: relative;
		margin-bottom: 20px;
		min-height: 455px;
	}

	.user-infor {
		display: none;
		margin-top: -25px;


		.row {
			align-items: center;
		}

		.col-info {
			display: flex;
			align-items: center;
			flex: 1 0 0;
			padding: 19px 8px 18px 8px;
		}

		.avatar {
			width: 48px;
			height: 48px;
			margin-right: 6px;
		}

		strong {
			display: block;
			font-weight: 600;
			font-size: 16px;
			line-height: calc(20 / 16);
			text-transform: uppercase;
		}

		span {
			font-size: 14px;
			line-height: calc(22 / 14);
			color: #9499A3;
		}

		.col-btn {
			width: 128px;
		}
	}
}

.close-btn-holder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}

.custom-scroll {
	overflow: auto;
	width: 100%;
	height: 100%;
	padding-right: 10px;

	&::-webkit-scrollbar {
		background: #d7d8d8;
		width: 4px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		width: 2px;
		height: 34px;
		background: #d7d8d8;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		display: block;
		background: $primary;
		width: 4px;
		border-radius: 12px;
	}
}

.sub-cards {
	position: relative;
	width: 100%;
	left: 0;
	transform: none !important;
	border: 0;
	background: #fbfcfd;
	overflow: hidden;
	display: block !important;
	opacity: 0;
	pointer-events: none;
	height: 0;
	overflow: hidden;
	transition: 0.4s opacity;

	&.show {
		opacity: 1;
		pointer-events: all;
		height: 100%;
		overflow: visible;
	}
}

.sub-cards-close {
	text-decoration: none;
	opacity: 0;

	&.active {
		opacity: 1;
	}

	i {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 21px;
		height: 21px;
		background: #ffffff;
		border-radius: 50%;
		font-size: 10px;
		border: 1px solid $primary;
		color: $primary;
		transform: rotate(-180deg);

		&:before {
			color: $primary;
		}
	}
}

.sub-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $white;
	top: -20px !important;
	border: 1px solid #ececee;
	border-radius: 8px;
	padding: 10px 20px 10px 16px;
	margin-bottom: 8px;
	transition: 0.4s all;

	&:hover {
		border-color: $primary;
	}

	h6 {
		font-weight: 600;
		font-size: 16px;
		line-height: calc(28px / 16px);
		margin-bottom: 0;
	}

	a {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 16px;
		line-height: calc(28px / 16px);
		color: #9499a3;
		text-decoration: none;
	}

	.img {
		width: 89px;
		text-align: center;
	}

	i {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 8px;
		width: 21px;
		height: 21px;
		background: #ffffff;
		border-radius: 50%;
		font-size: 10px;
		border: 1px solid #9499a3;
		color: #9499a3;

		&:before {
			color: #9499a3;
		}
	}
}

.dropdown-lang {
	display: none;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.4285714286;
	text-align: center;
	margin-bottom: -6px;

	.dropdown-menu {
		min-width: auto;
		width: 100%;
		border: 0;
		padding: 0;
		border-radius: 0;
		transition: 0.4s all;

		li {
			+ li {
				border-top: 1px solid #ececee;
			}
		}

		li {
			+ li {
				border-top: 1px solid #ECECEE;
			}
		}

		.fake-radio {
			input {
				position: absolute;
				left: -99999px;
				opacity: 0;
	
				&:checked {
					+ label {
						span {
							&::after {
								background-color: $primary;
							}
						}
					}
				}
			}

			label {
				display: flex;
				align-items: center;
				text-transform: uppercase;
				cursor: pointer;
				padding: 14px 26px;

				span {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 20px;
					min-height: 20px;
					background: $white;
					border: 1px solid $primary;
					border-radius: 50%;
					margin-right: 13px;

					&::after {
						content: "";
						min-width: 10px;
						min-height: 10px;
						border-radius: 50%;
					}
				}
			}
		}
	}

	button {
		&.btn {
			background: transparent;
			border-color: transparent;
			color: $black;
			text-transform: uppercase;
			line-height: 1;

			&:hover {
				background: transparent;
				border-color: transparent;
				color: $black;
			}

			.icon-lang {
				margin-right: 10px;
				font-size: 26px;
			}

			&:after {
				display: none;
			}
		}
	}
}

.is-logged {
	.user-infor {
		display: block;
	}

	.dropdown-lang {
		display: flex;
	}

	.btn-holder {
		[class*="col-"] {
			&:first-child {
				display: none;
			}

			&:last-child {
				max-width: 100%;
				flex: 0 0 100%;
			}
		}
	}
}
