include ../_layout/_registration
include ../_layout/_nav

header#header
	.container
		nav.navbar.navbar-expand-md.d-md-flex.justify-content-md-between
			.navbar-brand.order-md-1: a(href="3"): img(src="./images/logo.svg", width="148" , height="50" , alt="oktoberfest booking.com")
			#navbarSupportedContent.navbar-collapse.collapse.order-3.order-md-1.justify-content-md-end
				.login-holder
					a(href="#" data-bs-toggle="modal" data-bs-target="#register").link Login
					//- .is-logged
					//- 	.avatar: img(src="./images/icon/avatar.svg", alt="user")
					//- 	.user-name Dominik Pfeiffer
				.dropdown
					button#dropdownMenuButton1.d-md-flex.align-items-md-center.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
						i.icon-lang
						| Deutsch
					ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
						li
							.fake-radio
								input#en(type="radio" , name="lang")
								label(for="en").dropdown-item 
									span
									| ENGLISCH
						li
							.fake-radio
								input#de(type="radio" , name="lang")
								label(for="de").dropdown-item 
									span
									| Deutsch
			.toggle-btn-holder.order-2.order-md-1
				button.d-block(class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar")
					span
