include _includes/_head
	block content
		<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
		include _includes/_header
		main#main
			include _layout/_hero-home
			include _layout/_section-filters
			include _layout/_section-cards
			include _layout/_section-acc
			include _layout/_section-banner
		include _includes/_footer
