include _includes/_head
	block content
		<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
		include _includes/_header
		main#main
			.container
				<h1 class="text-center" style="padding: 40px 0;">Pages List</h1>
				<ul id="pages-list">
					<li><a href="./about-us.html">about-us</a></li>
					<li><a href="./vip-page.html">vip-page</a></li>
					<li><a href="./account.html">account</a></li>
					<li><a href="./index.html">index</a></li>
					<li><a href="./kontakt.html">kontakt</a></li>
					<li><a href="./reser-payment.html">reser-payment</a></li>
					<li><a href="./reserv-request.html">reserv-request</a></li>
					<li><a href="./reserv-state-01.html">reserv-state-01</a></li>
					<li><a href="./reserv-state-02.html">reserv-state-02</a></li>
					<li><a href="./reserv-state-03.html">reserv-state-03</a></li>
					<li><a href="./reservetion.html">reservetion</a></li>
					<li><a href="./rout.html">rout</a></li>
					<li><a href="./subscribe-state-2.html">subscribe-state-2</a></li>
					<li><a href="./subscribe-state-3.html">subscribe-state-3</a></li>
					<li><a href="./subscribe.html">subscribe</a></li><li><a href="/success.html">success</a></li>
					<li><a href="./tent.html">tent</a></li><li><a href="/ubersicht-state-01.html">ubersicht-state-01</a></li>
					<li><a href="./ubersicht-state-02.html">ubersicht-state-02</a></li>
					<li><a href="./ubersicht-state-03.html">ubersicht-state-03</a></li>
					<li><a href="./ubersicht.html">ubersicht</a></li></ul>
		include _includes/_footer
