include _includes/_head
	block content
		<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
		include ./_layout/_nav
		include ./_layout/_login
		#js-header-fixed
			header#header
				.container
				nav.navbar.navbar-expand-md.d-md-flex.justify-content-md-between
					.navbar-brand.order-md-1: a(href="3"): img(src="./images/logo.svg", width="148" , height="50" , alt="oktoberfest booking.com")
					#navbarSupportedContent.navbar-collapse.collapse.order-3.order-md-1.justify-content-md-end
						.item-text-icon
							.img: img(src="./images/img-icon-02.svg", width="19" , height="24" , alt="Werde Wiesn-VIP")
							strong Werde Wiesn<span>-VIP</span>
						.login-holder
							a(href="#" data-bs-toggle="modal" data-bs-target="#login").link Login
							//- .is-logged
							//- 	.avatar: img(src="./images/icon/avatar.svg", alt="user")
							//- 	.user-name Dominik Pfeiffer
						.dropdown.lang
							button#dropdownMenuButton1.d-md-flex.align-items-md-center.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
								i.icon-lang
								| Deutsch
							ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
								li
									.fake-radio
										input#en(type="radio" , name="lang")
										label(for="en").dropdown-item 
											span
											| Englisch
								li
									.fake-radio
										input#de(type="radio" , name="lang")
										label(for="de").dropdown-item 
											span
											| Deutsch
					.toggle-btn-holder.order-2.order-md-1
						button.d-block(class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar")
							span
		main#main
			//- section.section-hero.section-hero-sm.d-none.d-md-block
			//- 	.container
			//- 		.inner
			//- 			.img
			//- 				img(src="./images/hero-img-04.jpg"  alt="images description")
			//- 			h1.hero-title.lg Paulaner Festzelt
			section.section-subscr-done.text-center
				.container
					.inner.no-style
						.heading.heading-mobile
							.img-holder
								#svgContainer6
								//- img(src="./images/img-time.svg", width="91" , height="94" , alt="image decription")
							h2 Erinnerungsfunktion aktiv
							a(href="#").btn.btn-primary.d-md-none Zur Reservierungsanfrage
						.card-two-col
							.card-inner.d-md-flex
								.col-main
									.card-heading
										.img: img(src="./images/img-time.svg", width="51" , height="49" , alt="image decription")
										h4 Paulaner Festzelt
									.card-sub-heading.text-center.text-md-start
										sapn.d-block.d-md-inline Erinnerungsfunktion an: 
										a(href="mailto:d.pfeiffer@linksderisar.com") mailto:d.pfeiffer@linksderisar.com
									.text-center.text-md-start
										p Du willst auf Nummer sicher gehen? Für € 9,90 kümmern wir uns um die Reservierungs-anfrage. Du must nur das Formular ausfüllen und den Rest machen wir für dich.
									ul.list-state
										li.success
											.icon-check
											p Erinnerungsfunktion aktiv 
										li
											.icon-cross
											p Automatische Reservierungsanfrage
								.col-secondary.text-center(style="background-image: url('./images/card-bg-01.png')")
									.card-logo: img(src="./images/weiss-paulaner-festzelt-logo-p-500.svg", width="91" , height="75", alt="weiss paulaner festzel")
									.price-block
										strong.price € 9,90 
										p Einmalige Zahlung
									a(href="#").btn.btn-light Aktivieren
						.text.d-none.d-md-block
							p Jetzt <a href="#" class="link-decor"> Account anlegen</a> und automatische Reservierungsanfrage erstellen
		include _includes/_footer