.section-two-col {
	padding-bottom: 56px;

	@include media-breakpoint-up(md) {
		padding-top: 0;
	}

	.action-items {
		+ .action-items {
			border-top: 1px solid #ECECEE;
			margin-top: 32px;
			padding-top: 32px;
		}
	}

	.row {
		margin: 0 -15px;

		@include media-breakpoint-up(xl) {
			margin: 0 -38px;
		}

		> [class*='col-'] {
			padding: 0 15px;

			@include media-breakpoint-up(xl) {
				padding: 0 38px;
			}
		}
	}

	.tab-holder {
		margin-top: 16px;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.col-content {
		@include media-breakpoint-up(lg) {
			max-width: calc(100% - 380px);
			flex: 0 0 calc(100% - 380px);
		}

		@include media-breakpoint-up(xl) {
			max-width: calc(100% - 482px);
			flex: 0 0 calc(100% - 482px);
		}
	}

	.col-sidebar {
		@include media-breakpoint-up(lg) {
			max-width: 380px;
			flex: 0 0 380px;
		}

		@include media-breakpoint-up(xl) {
			max-width: 482px;
			flex: 0 0 482px;
		}
	}

	.nav-tabs {
		counter-reset: tabs;
		margin-bottom: 17px;
		flex-wrap: nowrap;
		border-radius: 8px;
		border: 1px solid #ececee;
		overflow: hidden;
		word-break: break-all;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			border-radius: 8px 8px 0 0;
		}

		li {
			display: flex;
			flex: 1 0;
			max-width: 50%;

			&:only-child {
				max-width: 100%;
				
				.nav-link {
					@include media-breakpoint-up(md) {
						border-radius: 8px 8px 0 0;
						border-right: 1px solid #ececee;
					}
				}
			}

			+ li {
				.nav-link {
					border-left: 0;
				}
			}
		}

		.nav-link {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			border-radius: 8px;
			font-size: 18px;
			line-height: calc(28 / 18);
			padding: 7px 15px;
			background-color: $white;
			color: $black;
			transition: 0.4s all;

			@include media-breakpoint-up(md) {
				border-radius: 0;
				padding: 17px 16px 17px 24px;
			}

			&.active {
				background-color: $primary;
				color: $white;

				.counter {
					color: $primary;
					background-color: $white;
				}
			}

			.counter {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 24px;
				min-height: 24px;
				border-radius: 50%;
				background: $primary;
				content: counter(tabs);
				color: $white;
				font-weight: 600;
				font-size: 14px;
				line-height: calc(20 / 16);
				transition: 0.4s all;

				@include media-breakpoint-up(md) {
					margin-left: auto;
					min-width: 32px;
					min-height: 32px;
					font-size: 16px;
				}
			}

			span {
				margin-right: 15px;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;

				@include media-breakpoint-up(md) {
					font-size: 18px;
				}
			}

			i {
				color: inherit;
				margin-right: 16px;
				font-size: 22px;

				@include media-breakpoint-down(md) {
					display: none;
				}

				&::before {
					color: inherit;
				}
			}
		}
	}

	.tab-content {
		border: 1px solid #ececee;
		border-radius: 8px;
		padding: 26px 17px;
		background-color: $white;

		@include media-breakpoint-up(md) {
			border-top: 0;
			border-radius: 0 0 8px 8px;
			padding: 40px 33px 16px 33px;
		}

		.text-content {
			max-width: 748px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;
			font-size: 16px;
			line-height: calc(28 / 18);

			@include media-breakpoint-up(md) {
				margin-bottom: 33px;
				font-size: 14px;
			}

			h4 {
				margin-bottom: 16px;
			}

			p {
				margin-bottom: 0;
				color: #9499a3;
			}
		}

		.card-two-col {
			margin-bottom: 26px;

			+ .card-two-col {
				margin-top: 26px;
			}
		}
	}

	.card-two-col {
		.col-main {
			&:after,
			&:before {
				background-color: $white;

				@include media-breakpoint-up(md) {
					background: #fbfcfd;
				}
			}
		}
	}
}