.section-banner {
	padding: 0 0 25px 0;
	text-align: center;
	color: $white;
	background-color: $white;

	@include media-breakpoint-up(md) {
		padding: 0 0 36px 0;
	}

	&.fw {
		.container {
			@include media-breakpoint-up(md) {
				max-width: 100%;
				padding: 0;
			}
		}

		.inner {

			@include media-breakpoint-up(md) {
				border-radius: 0;
			}
		}

		.swiper {
			border-top: 0;
		}

		.text-holder {
			display: flex;
			align-items: center;
			justify-content: center;

			@include media-breakpoint-up(md) {
				min-height: 254px;
			}
		}
	}

	.inner {
		position: relative;
		background-size: cover;
		background-position: center;
		border-radius: 8px;
		overflow: hidden;
	}

	.text-holder {
		padding-top: 32px;
		padding-bottom: 32px;

		@include media-breakpoint-up(lg) {
			padding-top: 57px;
			padding-bottom: 40px;
		}
	}

	.banner-logo {
		margin-left: auto;
		margin-right: auto;
		padding-top: 40px;
		max-width: 51px;

		@include media-breakpoint-up(md) {
			max-width: 90px;
		}

		@include media-breakpoint-up(lg) {
			position: absolute;
			right: 40px;
			top: 47px;
			padding-top: 0;
		}

		img {
			width: 100%;
		}
	}

	.heading {
		margin-bottom: 17px;
		padding-left: 20px;
		padding-right: 20px;

		@include media-breakpoint-up(md) {
			margin-bottom: 11px;
		}

		&:only-child {
			margin-bottom: 0;
		}

		h2 {
			margin-bottom: 9px;
			font-weight: 600;
			font-size: 30px;
			line-height: 1;

			@include media-breakpoint-up(md) {
				margin-bottom: 16px;
				font-size: 32px;
			}
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: calc(24 / 16);
			margin-bottom: 0;
			max-width: 245px;
			margin-left: auto;
			margin-right: auto;

			@include media-breakpoint-up(md) {
				font-size: 20px;
				font-weight: 600;
				max-width: none;
				line-height: calc(28 / 22);
			}
		}
	}

	.btn {
		min-width: 304px;
		font-weight: 600;
		font-size: 20px;
		line-height: calc(24 / 18);

		@include media-breakpoint-up(lg) {
			font-size: 18px;
		}
	}

	.swiper-wrapper {
		-webkit-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
		position: relative;
	}

	.swiper {
		padding: 17px 58px;
		border-top: 2px solid rgba(236, 236, 238, 0.5);

		.swiper-wrapper {
			align-items: center;
			text-align: center;
			justify-content: space-between;
		}

		.swiper-slide {
			padding: 0 20px;
			justify-content: space-between;
		}

		img {
			opacity: 0.5;
			max-width: 100%;
		}
	}
}
